## 1. 출력(print)

값을 직접 넣을 수도 있고, 변수를 넣을 수도 있다.

In [1]:
print("Hello",1,True)

Hello 1 True

In [2]:
a="Hello"
b=1
c=True
print(a,b,c)

Hello 1 True

기존의 텍스트에 변수를 대입해서 출력하는 4가지 방법!

In [3]:
print("한국의 인구는 {}명 입니다".format(5000))

한국의 인구는 5000명 입니다

In [4]:
print("한국의 인구는 "+str(5000)+"명 입니다")

한국의 인구는 5000명 입니다

In [5]:
print("한국의 인구는 %s명 입니다"%(5000))

한국의 인구는 5000명 입니다

In [6]:
print(f"한국의 인구는 {5000}명 입니다")

한국의 인구는 5000명 입니다

#### Q. 다음 문장을 준비된 변수를 활용해 출력하시오!
대한민국(Republic of Korea), 줄여서 '한국(Korea)'이라고도 부른다. 위치와 면적. 아시아 대륙 북동쪽 한반도에 위치하며, 남한의 면적은 100,188.1㎢이다.

In [7]:
area=100188.1
eng_name="Korea"
print("여기에 작성")

여기에 작성

#### Q. 다음 문장들을 한 줄로 출력되게 하시오

In [8]:
print("화려한 조명이 나를 감싸네")
print("시간이 멈추길 기도해")
print("But I'm not gonna cry yeah")
print("불 꺼진 무대 위 홀로 남아서")
print("떠나간 그대의 목소릴 떠올리네")
print("나 쓰러질 때까지 널 위해 춤을 줘")

화려한 조명이 나를 감싸네
시간이 멈추길 기도해
But I'm not gonna cry yeah
불 꺼진 무대 위 홀로 남아서
떠나간 그대의 목소릴 떠올리네
나 쓰러질 때까지 널 위해 춤을 줘

## 2. Numeric

In [9]:
#합
1+1

2

In [10]:
#차
1-1

0

In [11]:
#곱
2*2

4

In [12]:
#나누기
2/2
#2/0

1.0

In [13]:
#제곱
3**3
#3**0.5

27

In [14]:
#몫
3//3

1

In [15]:
#나머지
3%3

0

In [16]:
#반올림
round(1.1357,0)

1.0

In [17]:
#올림 (정수로)
import math
math.ceil(1.1357)

2

In [18]:
#내림 (정수로)
import math
math.floor(1.1357)

1

#### Q. 30% 소금물에 소금 20g을 넣었더니 소금물의 농도가 70%가 되었을때 현재 소금의 양과 물의 양을 구하시오

In [19]:
a,b,c = 0, 0, 0

print("최초 소금의 질량",b)
print("물의 질량",c)
print("최초 소금물의 질량",a)

최초 소금의 질량 0
물의 질량 0
최초 소금물의 질량 0

#### Q. 967명의 학생을, 한 반에 최대 30명이 수용가능한 교실에 배정할때, 몇개의 수업으로 나눠야 할까요?

In [20]:
x=30
y=967


z = 0 #여기에 코드작성

## 3. 문자열

In [21]:
text="abcdefghijklmnopqrstuwxyz"

In [22]:
#앞에 3글자
text[:3]

'abc'

In [23]:
#뒤에 3글자
text[-3:]

'xyz'

In [24]:
#짝수 번째 글자(시작:끝:Step)
text[1::2]

'bdfhjlnprtwy'

In [25]:
#홀수 번째 글자(시작:끝:Step)
text[0::2]

'acegikmoqsuxz'

In [26]:
text = "파이썬[2](영어: Python)은 1991년[3] 프로그래머인 귀도 반 로섬(Guido van Rossum)[4]이 발표한 고급 프로그래밍 언어로, 플랫폼에 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed) 대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying Circus〉에서 따온 것이다."

In [27]:
text.split()

['파이썬[2](영어:',
 'Python)은',
 '1991년[3]',
 '프로그래머인',
 '귀도',
 '반',
 '로섬(Guido',
 'van',
 'Rossum)[4]이',
 '발표한',
 '고급',
 '프로그래밍',
 '언어로,',
 '플랫폼에',
 '독립적이며',
 '인터프리터식,',
 '객체지향적,',
 '동적',
 '타이핑(dynamically',
 'typed)',
 '대화형',
 '언어이다.',
 '파이썬이라는',
 '이름은',
 '귀도가',
 '좋아하는',
 '코미디',
 '〈Monty',
 "Python's",
 'Flying',
 'Circus〉에서',
 '따온',
 '것이다.']

In [28]:
text.split(",")

['파이썬[2](영어: Python)은 1991년[3] 프로그래머인 귀도 반 로섬(Guido van Rossum)[4]이 발표한 고급 프로그래밍 언어로',
 ' 플랫폼에 독립적이며 인터프리터식',
 ' 객체지향적',
 " 동적 타이핑(dynamically typed) 대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying Circus〉에서 따온 것이다."]

#### Q. 말줄이기 
<img src="data/image.png"/>

In [29]:
text = "소소하지만 확실한 행복"
##여기에 코드 작성

## 4. List

In [30]:
data = [0,1,2,3,4,5,6,7,8,9]

In [31]:
data[0]

0

In [32]:
#0,1,2
data[:3]

[0, 1, 2]

In [33]:
#7,8,9
data[-3:]

[7, 8, 9]

In [34]:
#5,6,7
data[5:8]

[5, 6, 7]

In [35]:
data.append(10)
data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
del data[10]

In [37]:
data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
data + [10,11,12]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

#### Q. Append는 List에 가장 뒤에 원소를 추가하는데, 만약 리스트의 가장 앞에 원소를 추가하고 싶다면?

In [39]:
char = "a"
char_list = ["b","c","d","e","f","g"]

## 5. Dictionary

In [72]:
dic = {"이름":"손흥민","나이":29,"결혼":False}
dic

{'이름': '손흥민', '나이': 29, '결혼': False}

In [73]:
dic['이름']

'손흥민'

In [74]:
dic['이름']="흥민 손"

In [75]:
dic['height']=183
dic['team']=["레버쿠젠","토트넘"]

In [80]:
# dic.get('성별',"ETC")

'ETC'

In [77]:
dic.keys()

dict_keys(['이름', '나이', '결혼', 'height', 'team'])

In [45]:
dic.values()

dict_values(['흥민 손', 29, False, 183, ['레버쿠젠', '토트넘']])

#### Q. 한 학생의 성적표가 있을때, 점수가 높은 과목순으로 정렬하시오!
[hint](https://www.google.com/search?&q=python+dictionary+sort+by+value+&oq=python+dictionary+sort+by+value)

In [46]:
scores = {"수학":70,"영어":80,"국어":77,"사회":100,"과학":50}
scores

{'수학': 70, '영어': 80, '국어': 77, '사회': 100, '과학': 50}

#### Q. 학생들의 시험점수가 있을때, 점수 순으로 정렬하시오 (내림차순), 만약 점수가 같다면 이름 순으로 정렬하시오(오름차순)

In [47]:
scores = {"손흥민":70,"박지성":80,"박찬호":77,"김연아":100,"지민":100}
scores

{'손흥민': 70, '박지성': 80, '박찬호': 77, '김연아': 100, '지민': 100}

## 6. 조건문

In [48]:
a = 3
if a == 3:
    print("A is 3")
else:
    print("A is not 3")

A is 3

In [49]:
a = 3
if a == 3 or a == 4:
    print("A is 3 or 4")
else:
    print("A is not 3 or 4")

A is 3 or 4

In [50]:
a = 4
if a == 3:
    print("A is 3")
elif a == 4:
    print("A is 4")
else:
    print("A is not 3 or 4")

A is 4

In [51]:
# 2-depth
# 소수는 1과 자기 자신만을 약수로 갖는 수 (예:2,3,5,7...)
a=2
if a%2==0:
    if a==2:
        print("A는 짝수이자 소수")
    else:
        print("A는 짝수")
else:
    print("A는 홀수")

A는 짝수이자 소수

#### Q. 말줄임표 만들기
웹사이트를 개발했는데, UI적으로 제목에 들어갈수 있는 글자의 수가 최대 10글자이고, 그것보다 긴 제목은 10글자 이후 "..."으로 처리할 수 있는 코드를 작성하시오.

예: '파이썬[2](영어:'...

In [52]:
text = """파이썬[2](영어: Python)은 1991년[3] 프로그래머인 귀도 반 로섬(Guido van Rossum)[4]이 
발표한 고급 프로그래밍 언어로, 플랫폼에 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed) 대화형 언어이다. 
파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying Circus〉에서 따온 것이다."""

#여기에 코드작성
print(text)

파이썬[2](영어: Python)은 1991년[3] 프로그래머인 귀도 반 로섬(Guido van Rossum)[4]이
발표한 고급 프로그래밍 언어로, 플랫폼에 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed) 대화형 언어이다.
파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying Circus〉에서 따온 것이다.

## 7.반복문

In [53]:
for i in range(5):
    print(i)

0
1
2
3
4

In [54]:
for i in range(1,5):
    print(i)

1
2
3
4

In [55]:
for i in range(0,5,2):
    print(i)

0
2
4

In [56]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [57]:
text="abcdefghijklmnopqrstuvwxyz"

for char in text:
    print(char)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [58]:
text="abcdefghijklmnopqrstuvwxyz"

index = 0
for char in text:
    print(index,char)
    index+=1

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

In [59]:
text="abcdefghijklmnopqrstuvwxyz"

for index, char in enumerate(text):
    print(index,char)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

#### Q. for 문안에 if문을 사용하여, 짝수번째 문자들만 출력하시오!

In [60]:
text="abcdefghijklmnopqrstuvwxyz"

for index, char in enumerate(text):
    print(index,char)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

In [61]:
data = [1,2,3,4,5,6,7]
for x in data:
    print(x)

1
2
3
4
5
6
7

In [62]:
data = [1,2,3,4,5,6,7]
for index, x in enumerate(data):
    print(index,x)

0 1
1 2
2 3
3 4
4 5
5 6
6 7

#### Q. List 안에 List가 있을때 모든 원소를 하나씩 출력하시오

In [63]:
data=[1,2,3,4,['a','b','c','d']]

#### Q. 데이터 추출 과정에서 해당 데이터의 아이디까지 추출을 했습니다. 아이디는 중요하지 않기 때문에, 이 부분을 제외하고 나머지 원소를 보고 싶습니다. 첫번째 원소를 제외한 나머지 원소들을 하나씩 출력하시오!

In [64]:
data=[120203, 1,2,3,4,5,6]

In [68]:
dic = {"이름":"손흥민","나이":29,"결혼":False}

for key in dic:
    print(key)

이름
나이
결혼

In [69]:
for key in dic:
    print(dic[key])

손흥민
29
False

In [70]:
for key,val in dic.items():
    print(key,val)

이름 손흥민
나이 29
결혼 False

#### Q. 데이터를 수집했지만, 일부 결측값이 발견 되었습니다. 해당 결측값에는 Missing이라는 값으로 출력을 하시오

In [83]:
data = [
    {"이름":"손흥민","나이":29,"종목":"축구"},
    {"이름":"박찬호","나이":29,"종목":"야구"},
    {"이름":"김연아","나이":29, "종목":""},
    {"이름":"김연경","나이":"","종목":"배구"},
]

#여기에 코드 작성