### 1. 윤년(leap year) 확인하는 함수 만들기
태양력에서 2월은 28일까지 있는 것이 평년이다. 그러나 2월을 29일로 둔 해를 윤년이라 하여 치윤법에 따라 400년에 97년을 윤년으로 두고 있다. 이것은 1년의 길이가 365일로 실제보다 0.2422일 짧은 것이므로, 점차 계절과 차이가 발생하게 되는 것을 해결하고자 한 것이다.
[네이버 지식백과] 윤년 [leap year, 閏年] (두산백과)

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

In [ ]:
def is_leap_year(year=0):
    leap_year = True
    
    #여기에 코드를 작성하세요!
    
    return leap_year

print(is_leap_year(1900)) # False
print(is_leap_year(2000)) # True
print(is_leap_year(2012)) # True

### 2. 구구단
gugudan함수에 n을 입력하여 해당하는 n에 대한 구구단 출력 함수를 완성하시오 (hint:for문)

In [ ]:
def gugudan(n=2):
    #샘플 아웃풋
    print("2 * 1 = 2")
    print("2 * 2 = 4")
    print("2 * 3 = 6")
    print("2 * 4 = 8")
    print("2 * 5 = 10")
    print("2 * 6 = 12")
    print("2 * 7 = 14")
    print("2 * 8 = 16")
    print("2 * 9 = 18")

print("2단")
gugudan(2)
print("3단")
gugudan(3)
print("9단")
gugudan(9)

### 3. 별출력
n이 주어졌을때, N행N열이 되게 *을 출력하시오

In [ ]:
def stars(n=5):
    #n이 5일때 예제
    print("*****")
    print("*****")
    print("*****")
    print("*****")
    print("*****")

print("n=5")
stars(5)
print("n=3")
stars(3)
print("n=2")
stars(2)

### 4. 문자열
문자열을 역으로 출력하는 함수를 완성하시오

In [ ]:
def reverse(s=""):
    reverse_s = ""
    ##여기에 코드작성
    return reverse_s

reverse("hello") #olleh가 리턴되어야 함!

### 5. 카운팅 using dictionary
다음 list에서 각각의 동물들이 몇번 나왔는지 dictionary형태로 저장하세요!

In [ ]:
count_dict={}
animal_list = ["사자","호랑이","사자","호랑이","호랑이","토끼","말","말"]

#여기에 코드를 작성하세요

print(count_dict)
# 정답: {'사자': 2, '호랑이': 3, '토끼': 1, '말': 2}

### 6. 카운팅 using dictionary advanced
다음 list에서 각각의 동물들이 몇번 나왔는지 dictionary형태로 저장하세요! 단, 집 토끼와 산 토끼는 같은 토끼로 간주 됩니다!

In [ ]:
count_dict={}
animal_list = ["백 사자","백두산 호랑이","저승 사자","시베리아 호랑이","벵갈 호랑이","집 토끼","얼룩 말","조랑 말"]

#여기에 코드를 작성하세요

print(count_dict)
# 정답: {'사자': 2, '호랑이': 3, '토끼': 1, '말': 2}

### 7. Numpy array mask
numpy array안에 있는 원소들중 음수인 원소를 0으로 변경하세요!

In [ ]:
import numpy as np
arr = np.array([-1,-2,100,3,0,30])
##이 부분에 음수를 0으로 만든는 코드 작성

print(arr)
# [  0   0 100   3   0  30]이 출려되야 함!

### 8. Pandas data read
data.txt파일을 pandas를 이용해 읽었을 시, 각각의 column에 올바르게 배치되게 하세요

올바른 출력
<img src="image.png"/>

In [ ]:
import pandas as pd

df = pd.read_csv("data.txt",names=["topic","media","date","title","desc"])
df