# BIG DATA ANALYSIS: Regression Application
---

## 1. 데이터 로드

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
len(df.columns)

81

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [5]:
df.dropna(axis=1,inplace=True)

In [6]:
len(df.columns)

62

In [7]:
df.describe()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,10516.828082,6.099315,5.575342,1971.267808,1984.865753,443.639726,46.549315,567.240411,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,9981.264932,1.382997,1.112799,30.202904,20.645407,456.098091,161.319273,441.866955,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,223.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,383.500000,0.000000,477.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,712.250000,0.000000,808.000000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,5644.000000,1474.000000,2336.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [8]:
for i in df.columns:
    x = df[i].value_counts()
    if df[i].dtype == "object":
        print("Column name is:",i,"and it value is:",x)
        print()

Column name is: MSZoning and it value is: RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

Column name is: Street and it value is: Pave    1454
Grvl       6
Name: Street, dtype: int64

Column name is: LotShape and it value is: Reg    925
IR1    484
IR2     41
IR3     10
Name: LotShape, dtype: int64

Column name is: LandContour and it value is: Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64

Column name is: Utilities and it value is: AllPub    1459
NoSeWa       1
Name: Utilities, dtype: int64

Column name is: LotConfig and it value is: Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: LotConfig, dtype: int64

Column name is: LandSlope and it value is: Gtl    1382
Mod      65
Sev      13
Name: LandSlope, dtype: int64

Column name is: Neighborhood and it value is: NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
SWISU       25
StoneBr     25
Blmngtn     17
MeadowV     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64

Column name is: Condition1 and it value is: Norm      1260
Feedr       81
Artery      48
RRAn        26
PosN        19
RRAe        11
PosA         8
RRNn         5
RRNe         2
Name: Condition1, dtype: int64

Column name is: Condition2 and it value is: Norm      1445
Feedr        6
Artery       2
PosN         2
RRNn         2
RRAn         1
PosA         1
RRAe         1
Name: Condition2, dtype: int64

Column name is: BldgType and it value is: 1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

Column name is: HouseStyle and it value is: 1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: HouseStyle, dtype: int64

Column name is: RoofStyle and it value is: Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: RoofStyle, dtype: int64

Column name is: RoofMatl and it value is: CompShg    1434
Tar&Grv      11
WdShngl       6
WdShake       5
Metal         1
Membran       1
ClyTile       1
Roll          1
Name: RoofMatl, dtype: int64

Column name is: Exterior1st and it value is: VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
Stone        2
BrkComm      2
ImStucc      1
CBlock       1
AsphShn      1
Name: Exterior1st, dtype: int64

Column name is: Exterior2nd and it value is: VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
CBlock       1
Other        1
Name: Exterior2nd, dtype: int64

Column name is: ExterQual and it value is: TA    906
Gd    488
Ex     52
Fa     14
Name: ExterQual, dtype: int64

Column name is: ExterCond and it value is: TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: ExterCond, dtype: int64

Column name is: Foundation and it value is: PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: Foundation, dtype: int64

Column name is: Heating and it value is: GasA     1428
GasW       18
Grav        7
Wall        4
OthW        2
Floor       1
Name: Heating, dtype: int64

Column name is: HeatingQC and it value is: Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: HeatingQC, dtype: int64

Column name is: CentralAir and it value is: Y    1365
N      95
Name: CentralAir, dtype: int64

Column name is: KitchenQual and it value is: TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

Column name is: Functional and it value is: Typ     1360
Min2      34
Min1      31
Mod       15
Maj1      14
Maj2       5
Sev        1
Name: Functional, dtype: int64

Column name is: PavedDrive and it value is: Y    1340
N      90
P      30
Name: PavedDrive, dtype: int64

Column name is: SaleType and it value is: WD       1267
New       122
COD        43
ConLD       9
ConLw       5
ConLI       5
CWD         4
Oth         3
Con         2
Name: SaleType, dtype: int64

Column name is: SaleCondition and it value is: Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: SaleCondition, dtype: int64

In [9]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotArea', 'Street', 'LotShape',
       'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl',
       'Exterior1st', 'Exterior2nd', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'GarageCars', 'GarageArea', 'PavedDrive',
       'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [10]:
df.head()

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

## 2. Feature 선택

In [11]:
selected_columns = ["LotArea","OverallQual","OverallCond","YearBuilt", "YearRemodAdd",
                   "Heating","HeatingQC","CentralAir","KitchenQual"]
new_df = df[selected_columns].copy()

new_df.head()

,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,Heating,HeatingQC,CentralAir,KitchenQual
0,8450,7,5,2003,2003,GasA,Ex,Y,Gd
1,9600,6,8,1976,1976,GasA,Ex,Y,TA
2,11250,7,5,2001,2002,GasA,Ex,Y,Gd
3,9550,7,5,1915,1970,GasA,Gd,Y,Gd
4,14260,8,5,2000,2000,GasA,Ex,Y,Gd

## 3. Feature 인코딩

In [12]:
new_df.loc[new_df['Heating']=="GasA",'Heating'] = 0
new_df.loc[new_df['Heating']=="GasW",'Heating'] = 1
new_df.loc[new_df['Heating']=="Grav",'Heating'] = 2
new_df.loc[new_df['Heating']=="Wall",'Heating'] = 3
new_df.loc[new_df['Heating']=="OthW",'Heating'] = 4
new_df.loc[new_df['Heating']=="Floor",'Heating'] = 5

In [13]:
new_df.loc[new_df['HeatingQC']=="Ex",'HeatingQC'] = 0
new_df.loc[new_df['HeatingQC']=="TA",'HeatingQC'] = 1
new_df.loc[new_df['HeatingQC']=="Gd",'HeatingQC'] = 2
new_df.loc[new_df['HeatingQC']=="Fa",'HeatingQC'] = 3
new_df.loc[new_df['HeatingQC']=="Po",'HeatingQC'] = 4

In [14]:
new_df.loc[new_df['KitchenQual']=="Ex",'KitchenQual'] = 0
new_df.loc[new_df['KitchenQual']=="TA",'KitchenQual'] = 1
new_df.loc[new_df['KitchenQual']=="Gd",'KitchenQual'] = 2
new_df.loc[new_df['KitchenQual']=="Fa",'KitchenQual'] = 3

In [15]:
new_df.loc[new_df['CentralAir']=="Y",'CentralAir'] = 0
new_df.loc[new_df['CentralAir']=="N",'CentralAir'] = 1

In [16]:
new_df.head()

,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,Heating,HeatingQC,CentralAir,KitchenQual
0,8450,7,5,2003,2003,0,0,0,2
1,9600,6,8,1976,1976,0,0,0,1
2,11250,7,5,2001,2002,0,0,0,2
3,9550,7,5,1915,1970,0,2,0,2
4,14260,8,5,2000,2000,0,0,0,2

In [17]:
# Numpy 포맷으로 변경
X = new_df.to_numpy()
y = df['SalePrice'].to_numpy()

In [18]:
from sklearn.model_selection import train_test_split
#훈련/테스트 데이터 셋 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [19]:
import numpy as np
from sklearn.linear_model import LinearRegression
#학습
reg = LinearRegression().fit(X_train, y_train)
#예측
y_pred = reg.predict(X_test)

In [20]:
#예측 결과
y_pred

array([181077.27330121, 257652.13156569, 113499.35846511, 157217.2694667 ,
       318231.27790487,  94598.05445685, 219310.87852857, 157279.54651129,
        84781.24447857, 135174.52070702, 181880.84852119, 134404.12801432,
        59898.26250468, 224565.35135171, 191639.16585395, 132536.61011201,
       222058.63522261, 147100.41775108, 151863.40228695, 224616.21068438,
       154088.01204012, 261304.15202356, 187261.35357284, 144054.88535536,
       220105.40865244, 179196.3724332 , 224685.94947568, 105259.83476117,
       193872.04753866, 218417.59716263, 123831.77463266, 224961.19557698,
       159150.92255855,  94082.29757168, 265975.71695851, 167667.97411342,
       128658.88199126, 221806.66178712, 259370.30527609, 126529.30153361,
       151825.38249133, 220144.56640406, 136182.04369271, 282675.60730686,
       130507.75079137, 131652.47727207, 129492.716751  , 134941.395424  ,
       355075.56373902, 132024.81836181, 120162.17466618, 167628.92236699,
       129781.23520324, 246082.02134644, 181212.58035268, 227074.54253385,
       216945.13041503, 155291.71287253, 172513.5552346 , 148371.99501588,
        53401.02944427, 136301.88784484, 260102.94622734, 320623.13096276,
       268720.74920875, 175271.15419464, 117558.11800955, 262565.29782235,
       149655.16169708, 175548.2843159 , 137351.78550689, 137051.20067004,
        94960.28613473,  45900.45497307, 319442.10546383, 174857.95821846,
       255779.84483768, 218935.67623305, 131195.9154875 , 137786.87070176,
       162973.976403  , 112676.24710323, 146327.95317182, 129507.37567243,
       173464.11689651,  94335.00923347, 253156.31806688, 198327.4790749 ,
       181208.67783665, 226961.24294471, 125601.52852383, 140950.98839707,
       140547.46809966, 214582.65555384,  99826.53296015, 189744.91724916,
       214729.59115509, 213234.37876459, 224212.57082184, 225334.38331294,
       170262.84452499, 221355.00812308, 218693.19633778, 211179.21984111,
       144910.94737158, 157685.38064181, 169725.97164894, 239917.55716063,
       154128.18290042, 121246.35323272, -13558.71633577, 138596.81474434,
       150399.31732618, 138827.52062004, 224544.28468428, 126811.51860051,
       107942.06012495,  98382.55300251, 175142.29695066, 260895.28360547,
       221140.85987709, 181212.58035268, 181575.32315148, 165579.93006314,
       176269.00082583, 137400.33935859, 220408.37743969, 122841.95649867,
       150843.55728027, 211427.86467033, 222157.498962  , 263103.85442909,
       221312.71356828, 151210.66152352,  15142.6592546 , 352959.6151048 ,
       313054.85154445, 139675.55317725, 220720.32547338, 357536.13513984,
       278149.03399086, 149116.63177587, 171565.5480455 , 143803.12661181,
       159082.40205336, 131317.41354083, 196825.1256903 , 231140.43253768,
       140749.53446245,  43243.71275758,  73253.60451491, 166298.11344395,
       201006.55217138, 132068.88382715,  37457.38704317, 136971.27289627,
       103323.44062435, 168642.26026019, 106145.05307624, 143787.05458611,
       263377.81549777, 169181.78401887, 261785.85160147, 148680.85278802,
       121508.50782231, 132704.40241923, 217214.16016718, 277633.42057871,
       321155.81649764, 216582.18692797, 315187.82189971,  90345.03713578,
       118799.04731807, 167113.21831146, 257195.02726536, 102895.43010423,
       157486.35114342, 221343.90849567, 132351.92209908, 175826.31389164,
       132517.04292817, 107409.85316228, 135864.1890655 , 198137.50206511,
       260832.70732992, 185864.18882526, 263301.6991374 , 217779.92356789,
       221370.62758198,  80392.44699718, 130592.15676965, 124058.4587314 ,
       125942.90877301, 175653.60409381, 183031.02619775, 153749.58085482,
       252134.92006773,  80502.27154872, 248108.54591535, 119879.33983826,
       281616.18589519, 243527.50854832, 132913.78567632, 246434.59678256,
       221734.85301653, 129198.53046856, 254688.43179354, 130089.87924679,
       180393.35646378, 132857.73315779, 211762.29706917, 178203.11384882,
        83403.98056132, 175548.2843159 , 260675.30446567, 261304.15202356,
       218016.93885035, 126873.41169769, 121471.21331605, 132131.91613372,
       142629.92113787, 256530.32733041, 140324.3659044 , 121223.12586886,
       260614.83414946, 183436.37602364,  79213.47126646, 107233.9764422 ,
       168717.67626098,  71891.06656851, 107322.49054827, 170111.94402442,
       158215.49905372, 105486.79932708, 253190.24551144, 176879.80595076,
       221906.05722458, 180002.96995586, 229026.77198015, 175131.63699264,
       169793.29689897, 219721.81156927, 220826.75961969, 338001.29449531,
       164811.63658629, 128390.30160704, 161354.31526412, 174000.59884919,
       131676.5080736 , 123083.25106022, 176741.60777591, 208854.79600349,
       129107.61241463, 124795.4554775 , 136741.78419641, 168193.34336654,
       168462.096142  , 126000.15458776, 177643.29767809, 255309.1944855 ,
       257706.65175633, 177435.75308025, 140168.43203293, 209896.75838837,
       241514.6134582 , 196204.36622331, 185820.76770378, 181013.94130292,
        75542.13780866, 227127.06621649, 354429.30016554, 238526.13075261,
       224511.89034168, 130084.47785751,  95070.4565129 , 134146.30870782,
       214615.23631723, 311228.60066733, 180539.33487454, 124173.35488573,
       228370.55772828, 137309.57317027, 223087.3453669 , 136097.47227923,
       263238.88840281, 156569.11569125, 225715.6726144 ,  99927.88952953,
       232945.22747967, 222591.85245556,  85035.99577842, 101905.06946894,
       125998.2005172 , 178122.2674449 , 109818.049288  , 114158.62115541,
       104291.84913382, 136562.96463874, 191525.50275352,  86332.9740478 ,
       172817.41226835, 260917.92956102, 162745.70615047, 137960.92328464,
       214874.83391373, 219212.18814817, 206583.12697151, 184751.11480064,
       167971.48024479, 140348.05514881, 173142.98544869, 184411.06036303,
       113889.72030408, 137450.61465065, 119367.98704195, 190141.93568881,
       223859.12257482, 218444.91477483, 235693.8570005 ,  45517.00936571,
       226704.59785258, 134707.90181814, 121792.6979265 , 113338.31902747,
       177897.1709374 , 115036.98582405, 139431.44667726, 221884.06959139,
       169288.95278748,  94562.29956604, 137351.78550689, 130708.96631764,
       144902.8622154 , 224851.24104939, 217798.00868505, 123940.1260707 ,
       135762.57037823,  93541.96658837, 148102.27646064, 228647.26588819,
       179783.28334764, 127990.2470872 , 126514.64209238, 173447.56208597,
       230800.01787826, 351855.98801535, 314495.77572396, 138987.16255402,
       169963.96818738, 115739.07220318, 303634.09116042, 318276.67123945,
       252624.4246777 , 174159.4203659 , 263222.889071  , 184177.02645279,
       131437.72382057, 117952.80363453, 218723.79135398, 255347.90792148,
       169801.40049969, 178576.20872639, 258241.43668687, 244256.06271725,
       130727.33927904, 216462.56325657, 166851.77978474, 156600.16485285,
       140180.43803853, 159635.06395046, 147928.80979674, 191714.61449717,
       123300.56343221, 259009.97909591, 169751.71350503, 118800.57600084,
       164595.09531079, 182693.55987826, 161568.93173434, 173305.66656767,
       178435.38735735, 134202.05263664, 184741.56448942, 137438.1412236 ,
       128896.10370019, 253545.51048914, 143343.12046306, 117415.33717308,
       262121.84785285, 165987.55119149, 150406.76391449, 163667.97924045,
       168752.83062163, 300111.91931214, 144261.85487656, 321092.73372487,
       151241.17289013, 213410.01131291, 184746.79781606, 125252.00638044,
       186475.6470124 , 306018.54098136, 114411.75732845, 170313.77439297,
       133230.08673426, 101252.20312228, 208919.86313815, 153775.14152816,
       184073.80024178, 220012.29875539, 217483.80425129, 222658.58449575,
        59124.96112797, 276259.07661424, 127163.37209819, 291556.81282239,
       140856.84997767, 316357.6809434 , 257918.80349432, 139113.40984478,
       221923.7278732 , 270878.64662942, 220092.95075331, 168089.24910291,
       220715.21414735, 119215.59191565, 222977.95768858, 230011.02556169,
       221487.82968714, 223335.14723169, 126104.08850642, 148382.27512794,
       149892.65186465, 130585.02133261,  73859.94040111, 223546.3657144 ,
       163953.69960137, 319629.55285751, 203476.73163877, 143782.62449891,
       225532.5422053 , 315645.07459744, 220343.7929222 , 166974.8028042 ,
       182931.20689696, 145160.54005884, 186327.80272775, 228059.66667945,
       123368.10888157, 165878.89940588, 118270.10107302, 194320.31856469,
       210456.76376038, 111253.93919201, 136464.37060316, 224185.90512073,
       315233.36064817, 311288.02477789, 258368.91887714, 162974.02247611,
       123551.88597143, 121846.06388345, 178784.89849271, 221727.55448169,
       145307.68621017, 350764.80301897, 214244.00469916, 216462.56325657,
       128511.44145808, 316565.9417559 , 186030.09801772, 120162.17466618,
       136116.44618078, 145907.96288337, 213556.44144793, 213070.84261565,
       139799.00090806, 138361.78444384, 116466.21057967, 228125.61094275,
       148746.4856299 , 165600.60869487])

In [21]:
#정답
y_test

array([154500, 325000, 115000, 159000, 315500,  75500, 311500, 146000,
        84500, 135500, 145000, 130000,  81000, 214000, 181000, 134500,
       183500, 135000, 118400, 226000, 155000, 210000, 173500, 129000,
       192000, 153900, 181134, 141000, 181000, 208900, 127000, 284000,
       200500, 135750, 255000, 140000, 138000, 219500, 310000,  97000,
       114500, 205000, 119500, 253293, 128500, 117500, 115000, 127000,
       451950, 144000, 119000, 196000, 115000, 287000, 144500, 260000,
       213000, 175000, 107000, 107500,  68500, 154000, 317000, 264132,
       283463, 243000, 109000, 305000,  93500, 176000, 118858, 134000,
       109008,  93500, 611657, 173000, 348000, 341000, 141000, 124900,
       118000,  67000, 113000,  91300, 149500, 133000, 266000, 190000,
       155900, 155835, 153500, 152000, 124500, 301000, 136500, 169990,
       205000, 183900, 204900, 260000, 163500, 224900, 244000, 132000,
       194000, 156500, 156000, 275000, 145000, 135000,  60000, 124000,
       127000, 137500, 213500, 119000, 107900, 123000, 112000, 284000,
       133000, 149000, 169000, 207000, 175000, 137000, 236000,  79500,
       144000, 162900, 185900, 369900, 197900, 104000,  35311, 337500,
       367294, 130250, 230000, 755000, 403000, 132000, 178000, 136500,
       145000, 123000, 250000, 187100, 133900,  67000, 137500, 155000,
       200624, 154300,  91000, 136000, 108959, 140000,  86000, 131400,
       179900, 144000, 293077, 144500, 118500, 141000, 239000, 276000,
       556581, 244400, 360000, 103200, 102000, 151000, 285000, 134432,
       113000, 187500, 125500, 177500, 179900,  55993, 132500, 135000,
       255000, 140000, 271000, 246578, 202500,  75000, 122500, 108480,
       160000, 171000, 196000, 225000, 197000,  40000, 172500, 154900,
       280000, 175000, 147000, 315000, 185000, 135500, 239500, 139000,
       140000, 110000, 225000, 143500, 128950, 172500, 241500, 262500,
       194201, 143000, 130000, 126000, 142500, 254000, 217500,  66500,
       201000, 155000,  68400,  64500, 173000, 102776,  84900, 165600,
       120000, 135000, 220000, 153575, 195400, 147000, 277000, 143000,
       105900, 242000, 194500, 438780, 185000, 107500, 165000, 176000,
       129900, 115000, 192140, 160000, 145000,  86000, 158000, 127500,
       115000, 119500, 175900, 240000, 395000, 165000, 128200, 275000,
       311872, 214000, 153500, 144000, 115000, 180000, 465000, 180000,
       253000,  85000, 101800, 148500, 137500, 318061, 143000, 140000,
       192500,  92000, 197000, 109500, 297000, 185750, 230000,  89471,
       260000, 189000, 108000, 124500, 145000, 178000,  85000, 175000,
       127000, 149900, 174000, 125500, 175500, 225000, 129000, 159950,
       157000, 205000, 140000, 200000, 217000, 125000, 159500, 184000,
        96500, 200000, 149000, 178900, 184900, 164700, 335000,  87500,
       233170, 149350, 133000,  98000, 207500, 150000, 134900, 187750,
       149500, 116050, 153337, 165000, 130500, 206300, 146000, 126500,
       139000, 113000,  79000, 182000, 188000, 129000, 160000, 174000,
       219210, 310000, 374000, 100000, 250000, 145000, 325000, 380000,
       275000, 180000, 245350, 151500, 134500,  94000, 216000, 350000,
       195000, 120000, 228500, 248000, 124000, 191000, 181000, 105000,
       139900, 157900, 130500, 172400, 130000, 178000, 161500, 119900,
       239000, 190000,  85400, 205000, 134000, 168000, 185000, 180500,
       152000, 215000, 153000, 106000, 340000, 159000, 120000, 115000,
       128000, 314813, 131000, 446261, 127500, 155000, 177500, 128500,
       176000, 402000, 130000, 145000, 147000, 115000, 189000, 143000,
       240000, 230000, 190000, 213000,  82500, 274900, 155000, 423000,
       128500, 335000, 262000, 129500, 222500, 270000, 207500, 175000,
       238000, 135900, 224000, 170000, 185000, 263000,  62383, 150000,
       171000, 139000, 126175, 205950, 110000, 485000, 174000, 145000,
       215200, 320000, 212000, 168500, 189000, 140000, 187500, 254900,
       135000, 151000, 112500, 184000, 197000, 161500,  85000, 203000,
       325000, 313000, 237000, 180500, 137000,  90350, 150900, 214000,
       121500, 745000, 190000, 181000,  60000, 239000, 118500, 109500,
       110000, 105500, 199900, 271900, 131500, 135000, 119000, 215000,
       133500, 169000])

## 4. 모델 검증

In [22]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from math import sqrt


print("MSE: ",mean_squared_error(y_test, y_pred))
print("MAE: ",mean_absolute_error(y_test, y_pred))
print("RMSE: ",sqrt(mean_squared_error(y_test, y_pred)))

MSE:  2362919865.1145678
MAE:  30451.155707580674
RMSE:  48609.87415242471

In [23]:
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.neural_network import MLPRegressor
from sklearn import linear_model
regressors = [SVR(), DecisionTreeRegressor(),RandomForestRegressor(), AdaBoostRegressor(),
              MLPRegressor(max_iter=5000), linear_model.Lasso(alpha=0.1)]
best_model = {}
best_score = float('inf')
for reg in regressors:
    reg.fit(X_train, y_train)
    y_pred = reg.predict(X_test)

    name = reg.__class__.__name__
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    rmse = sqrt(mean_squared_error(y_test, y_pred))
    print("Name:",name)
    print("MSE: ",mse)
    print("MAE: ",mae)
    print("RMSE: ",rmse)
    
    if mae<best_score:
        best_score = mae
        best_model['model'] = reg
        best_model['mae'] = mae
        best_model['mse'] = mse
        best_model['rmse'] = rmse
    
    print("="*30)

Name: SVR
MSE:  7585015958.689691
MAE:  57376.524026043946
RMSE:  87091.99709898545
==============================
Name: DecisionTreeRegressor
MSE:  2786332396.2050486
MAE:  34659.04979253112
RMSE:  52785.721518276594
==============================
Name: RandomForestRegressor
MSE:  1629899358.6277883
MAE:  26225.58671560298
RMSE:  40372.01207058905
==============================
Name: AdaBoostRegressor
MSE:  1860464103.9078846
MAE:  30276.48475060438
RMSE:  43133.09754594359
==============================
Name: MLPRegressor
MSE:  5951165368.351854
MAE:  54493.292157281816
RMSE:  77143.79669391346
==============================
Name: Lasso
MSE:  2362918971.3914585
MAE:  30451.107549104425
RMSE:  48609.86495960937
==============================

In [24]:
import pprint
pprint.pprint(best_model)

{'mae': 26225.58671560298,
 'model': RandomForestRegressor(),
 'mse': 1629899358.6277883,
 'rmse': 40372.01207058905}